<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= @appid %>', // App ID
    //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    <% if @gp_client.authorization.access_token || rest_graph.access_token %>
      $("#headImg").css("background", "url(<%= @img %>)");
      commonLoginAction();
    <% end %>
  };
  (function(d){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    ref.parentNode.insertBefore(js, ref);
  }(document));

  function handleResponse(response) {
    //console.log(response);
    var obj = $(response);
    var list = [];
    $("#content").empty();
    obj.each(function () {
      console.log($(this).is("script"));
      if ($(this).attr("src")) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = $(this).attr("src");
        //document.getElementById("content").appendChild(script);
      }
    });
    $("#content").append(response);
  };


  function commonLoginAction() {
    $(".unlogin").removeClass("unlogin").addClass("login");
    $(".unloginTag").removeClass("unloginTag").addClass("loginTag");
    doBlockingStart();
    $.ajax({
      url: "/project",
      error: function(err) {
        console.log(err);
        doBlockingEnd();
      },
      success: function(response) {
        handleResponse(response);
        doBlockingEnd();      
      },
    });
  };

  function doBlockingStart() {
    console.log("start blocking");
  };  
  function doBlockingEnd() {
    console.log("end blocking");
  };  

  function requestTask(name) {
    $("#taskButton").trigger("click", name);
  }

</script>
<%= javascript_include_tag "home/index" %>
<%= stylesheet_link_tag "home/index" %>
<div id="topMask" class="decorate outer"></div>
<div id="bottomMask" class="decorate outer"></div>
<div id="main" class="indexPanel">
  <div id="functionTag" class="hide unloginTag">
    <div id="tagTriangle"></div>
    <div id="logFunctionTag">
      <span id="homeButton">Home</span>
      <span id="inviteButton">Invite</span>
      <span id="logoutButton">Logout</span>
    </div>
    <div id="unlogFunctionTag">
      <div id="fbButton"></div>
      <div id="gButton"></div>
    </div>
  </div>
  <div id="content">
  <%= render :file => "page/unlogin" %>
  </div>
  <div id="mask" class="decorate"></div>
  <div id="triangle" class="decorate hide"></div>
  <div id="modeBar" class="indexPanel bar">
    <div id="logButton" class="toggleButton unlogin">
      <a>Login</a>
      <div id="headImg"></div>
    </div>
    <div id="taskButton"  class="toggleButton">
      <a>Task</a>
    </div>
    <div id="userButton"  class="toggleButton">
      <a>User</a>
    </div>
    <div id="projectName" class="noeditingName">
      <span></span>
      <input type="text" maxlength=22></input>
    </div>
  </div>
  <div id="middleBar" class="indexPanel"></div>
  <div id="helpBar" class="indexPanel bar">
    <div id="contactButton" class="toggleButton">
      <a></a>
    </div>
    <div id="helpButton" class="toggleButton">
      <a></a>
    </div>
  </div>
</div>
<div id="helpContent"></div>

