<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css"/>

<!-- font type -->
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla:700' rel='stylesheet' type='text/css'>

<!-- css -->
<%= stylesheet_link_tag 'page' %>

</head>
<body>
<%= image_tag "indexIcon.png" %>
<div>
<%= image_tag "questionMark.png" %> how to ? </br>
<%= image_tag "fbicon.png" %><%= image_tag "g+icon.png" %> </br>
Start First!<%= image_tag "arrow.png" %>
</div>

</body>
</html>