

<%= stylesheet_link_tag 'invite' %>
<%= javascript_include_tag 'invite' %>

<div class = "inviteCard">
<span class="mempic"></span>
<span class="text">current member</span></br>
<div class="members">
	<%= @pic%>	
	<%= @proj %>
	console.log(<%=@members%>)
	
</div>
<span class="mempic"></span>
<span class="text">add new member</span></br>
<input type="text" name="invite_email" value="type email address"/>
<input type="submit" value="Invite" class="invite" />
</div>
