<!-- font type -->
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla:700' rel='stylesheet' type='text/css'>

<!-- js -->
<%= stylesheet_link_tag 'test' %>
<%= stylesheet_link_tag 'fullcalendar' %>
<%= stylesheet_link_tag 'fullcalendar.print'%>
<%= javascript_include_tag 'fullcalendar' %>
<%= javascript_include_tag "test" %>
<div id="usermode">

<div id="workers">
  <div class='worker firstw' pid="0" style="background: url('<%= @pic %>') center no-repeat; background-size: 100%;">
  </div>
</div>
  <div id='calendar'></div>
</div>
