<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css"/>

<!-- font type -->
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla:700' rel='stylesheet' type='text/css'>

<!-- css -->
<%= stylesheet_link_tag 'test' %>
<%= stylesheet_link_tag 'fullcalendar' %>
<%= stylesheet_link_tag 'fullcalendar.print'%>
<!-- <link rel='stylesheet' type='text/css' href='stylesheets/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='stylesheets/fullcalendar.print.css' media='print' /> -->

<!-- js -->
<%= javascript_include_tag 'jquery-1.7.1.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.17.custom.min' %>
<%= javascript_include_tag 'fullcalendar' %>
<%= javascript_include_tag "test" %>
<!-- <script type='text/javascript' src='js/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='js/jquery-ui-1.8.17.custom.min.js'></script>
<script type='text/javascript' src='js/fullcalendar.js'></script>
<script type='text/javascript' src='js/test.js'></script> -->
</head>
<body <%= image_tag 'background.jpg'%>
<div id='calendar'></div>
</body>
</html>
