<!-- css -->
<%= stylesheet_link_tag 'page' %>
<%= javascript_include_tag 'index_unlogin' %>
<div id="welcome" style="margin-left:auto;margin-right:auto;width:810px">
  <div class='half'>
    <%= image_tag("indexIcon.png", :height => '350px') %>
  </div>

  <div class='right'>
  <div class='first'>
    <%= image_tag("questionMark.png", :height => '40', :width => '40', :class => "helpButton") %>
    <span>what's Projectype ? </span>
  </div>
  <div id="whatext">
    A project manager to perfect manage your project! </br> 
    Click for more information.
  </div>
  <div class='second'><span>login</span>
    <%= image_tag("fbicon.png", :height => '40', :width => '40', :class => "fbicon") %>
    <%= image_tag("g+icon.png", :height => '40', :width => '40', :class => "gicon") %>
  </div>
  <div class='third'><span class='s'>Start First!<%= image_tag "arrow.png" %></span></div>

  </div>
</div>
