<!-- css -->
<%= stylesheet_link_tag 'page' %>
<%= javascript_include_tag 'index_unlogin' %>
<div id="welcome" style="margin-left:auto;margin-right:auto;width:810px">
  <div class='half'>
    <%= image_tag("indexIcon.png", :height => '350px') %>
  </div>

  <div class='right'>
  <div class='first'>
    <%= image_tag("questionMark.png", :height => '40', :width => '40', :class => "helpButton") %>
    <span>What's ProjecType ? </span>
  </div>
  <div id="whatext">
    A project manager to perfectly manage your project! </br> 
    Click for more information.
  </div>
  <div class='second'><span>Log in</span>
    <%= image_tag("fbicon.png", :height => '40', :width => '40', :class => "fbicon") %>
    <%= image_tag("g+icon.png", :height => '40', :width => '40', :class => "gicon") %>
    <div id="logintext">
      Login and enjoy it !!
    </div>
  </div>
  <div class='third'><span class='s'>Start!<%= image_tag "arrow.png" %></span></div>
  <div id="startext">
    <span> Warning !!</span> </br>
    You might got some usage <span>useless</span>, we </br>
    strongly advice you to login at first
  </div>
  </div>
  <div id="startFirstWarning" title="Warning">
    <p>You may not access full service without login.
       To reallize what's the difference, please see our help page.</p>
    <input type='checkbox' value='true' id='noAgain'/>
    <label for='noAgain'>Don't show this again</label>
    <button>OK</button>
  </div>
</div>
