<%= javascript_include_tag "project/index.js" %>
<%= stylesheet_link_tag "project/index.css" %>
<% if session[:current_user]
  user = User.find_by_account(session[:current_user])
  img = user['img']
  
    if session[:current_user][0] == 'f'
      img += "?type=large"
    else
      img += "?sz=300"
    end %>
  <script>
    $(function() {
      $("#pName").append("<%= session[:current_name] %>");
      $("#pHeadImg").css("background-image", "url(<%= img %>)");
    });
  </script>
<% end %>

<div id="projectPage">
  <div id="personalData">
    <div id="pHeadImg">
    </div>
    <h4 id="pName"></h4>
  </div>
  <div id="projectData">
    <h1>Projects</h1>
    <hr>
<% if user
    user.projects.each { |p| %>
      <div>
        <span pid=<%= p.id %>><%= p.name%></span>
        <div class="edit"></div>
        <div class="trash"></div>
      </div>
<%  }
   end %>
    <p id="addButton">Add</p>
  </div>
</div>
