<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= javascript_include_tag "home/jquery-1.7.2.min" %>
    <%= javascript_include_tag "home/jquery-ui-1.8.19.custom.min" %>
    <%= javascript_include_tag "home/jquery.blockUI.js" %>
    <% javascript_include_tag "home/jquery.jscrollpane.min" %>
    <% javascript_include_tag "home/jquery.mousewheel" %>
    <% javascript_include_tag "home/mwheelIntent" %>

    <%= stylesheet_link_tag "home/reset" %>
    <%= stylesheet_link_tag "home/jquery-ui-1.8.19.custom" %>
    <% stylesheet_link_tag "home/jquery.jscrollpane" %>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa|Oxygen' rel='stylesheet' type='text/css'>
    <!-- font-family: 'Comfortaa', sans-serif; -->
    <%= csrf_meta_tag %>
  </head>
<body>

<%= yield %>

</body>
</html>
